@import 'variables';

:root {
    --primary-color: #1E3070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myContiner {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
    // border: 1px dotted red;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.contactBar {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 12px;

    .contact_wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 32px;
        span{font-size: 16px;}
    }
}
header#header{
    width: 100%;
    position: absolute;
    top: 95px;
    left: 0;
    nav{
        width: 100%;
        max-width: 1644px;
        margin: 0 auto;
        .nav_wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navLogo{
                width: 120px;
                height: 120px;
                img{object-fit: cover;width: 100%; height: 100%;}
            }
            .nav_menu{
                .nav_menu_list{
                    width: fit-content;
                    background-color: white;
                    border: 2px solid var(--primary-color);
                    border-radius: 12px;
                    display: flex;
                    gap: 16px;
                    .nav_menu_list_item{
                        background-color: transparent;
                        padding: 16px 22px;
                        color: var(--primary-color);
                        a{font-weight: 600;}
                        border-radius: 8px;
                        &:hover{
                            background-color: var(--primary-color);
                        }
                        &:hover a{
                            color: white;
                        }
                    }
                    .nav_menu_list_item.active{
                        background-color: var(--primary-color);
                    }
                }
            }
            .nav_Buttons{
                button{
                    border: none;
                    outline: none;
                    background-color: var(--primary-color);
                    color: white;
                    padding: 20px 14px;
                    border-radius: 8px;
                }
            }
        }
    }
}

#homeBanner{
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 600px;
    background-image: url("../images/homeBanner.png");
    background-size: cover;
    background-position: center center;
    .banner_content_wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .banner_content{
            width: 100%;
            max-width: 650px;
            text-align: center;
            color: white;
            h1{font-size: 74px; font-weight: 600;}
            .btnWrapper{
                button{
                        border: none;
                        outline: none;
                        background-color: var(--primary-color);
                        color: white;
                        padding: 20px 14px;
                        border-radius: 8px;
                    }
            }
        }
    }
}
#aboutPractice{
    width: 100%;
    height: fit-content;
    margin: 80px 0;
    .aboutPracticeWrapper{
        width: 100%;
        background-color: #E9EAF1;
        padding: 48px;
        border-radius: 32px;
        display: flex;
        align-items: center;
        gap: 80px;
        .practiceImage{
            width: 50%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .practiceContent{
            width: 50%;
            height: 100%;
            h2{
                font-size: 64px;
                &:nth-child(2){color: green;}
            }
            .practiceContentWrapper{
                button{
                    border: none;
                    outline: none;
                    background-color: var(--primary-color);
                    color: white;
                    padding: 14px 20px;
                    border-radius: 8px;
                }
            }
        }
    }
}
#consitionWeTreat{
    width: 100%;
    .conditionWeTreatWrapper{
        .heading{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 48px;
            border: 1px solid #6DC31C;
            border-radius: 12px;
            background-color: #F0F9E8;
            .title{
                width: 20%;
                max-width: fit-content;
            }
            .lineWrapper{
                width: 20%;
                height: 5px;
                background: radial-gradient(green,#00814b,white,transparent);
                background-size: 100% 100%;
            }
            .desc{
                width: 60%;
            }
        }
        .treatmentGalary{
            .treatmentGlaryWrapper{
                .glaryItem{
                    .glaryCard{
                        width: 425px;
                        min-width: 300px;
                        max-width: 425px;
                        height: 556px;
                        border: 1px dashed red;
                        position: relative;
                        
                        .glaryImage{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 556px;
                            background-color: #1E3070;
                            z-index: 3;
                            transition: .3s all linear;
                        }
                        .glaryContent{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 300px;
                            background-color: #00814b;
                            z-index: 1;
                        }
                        &:hover .glaryImage{
                            height: 300px;
                        }
                        
                    }
                    .cardTag{}
                }
            }
        }
    }
}


footer#footer{
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    .footerWrapper{
        width: 100%;
        .footernav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            ul{
                width: 100%;
                display: flex;
                align-items: center;
                gap: 20px;
            }
            .footerNavIcon{
                display: flex;
                gap: 10px;
            }
        }
        .footerContent{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .footerCol1{
                display: flex;
                gap: 120px;
                .foterLogo{}
                .footerContact{
                    h6{
                        width: fit-content;
                        background-color: white;
                        color: var(--primary-color);
                        padding: 5px 12px;
                    }
                }
            }
            .footerCol2{}
        }
        .footNote{
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
}