@import 'variables';
@import 'component/header';
@import 'component/footer';
:root {
    --primary-color: #1E3070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{display: none;}

.myContiner {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;

}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}




#homeBanner{
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 600px;
    background-image: url("../images/homeBanner.png");
    background-size: cover;
    background-position: center center;
    .banner_content_wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .banner_content{
            width: 100%;
            max-width: 650px;
            text-align: center;
            color: white;
            h1{font-size: 74px; font-weight: 600;}
            .btnWrapper{
                button{
                        border: none;
                        outline: none;
                        background-color: var(--primary-color);
                        color: white;
                        padding: 20px 14px;
                        border-radius: 8px;
                    }
            }
        }
    }
}
#aboutPractice{
    width: 100%;
    height: fit-content;
    margin: 80px 0;
    .aboutPracticeWrapper{
        width: 100%;
        background-color: #E9EAF1;
        padding: 48px;
        border-radius: 32px;
        display: flex;
        align-items: center;
        gap: 80px;
        .practiceImage{
            width: 50%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .practiceContent{
            width: 50%;
            height: 100%;
            h2{
                font-size: 64px;
                &:nth-child(2){color: green;}
            }
            .practiceContentWrapper{
                button{
                    border: none;
                    outline: none;
                    background-color: var(--primary-color);
                    color: white;
                    padding: 14px 20px;
                    border-radius: 8px;
                }
            }
        }
    }
}
#consitionWeTreat{
    width: 100%;
    .conditionWeTreatWrapper{
        .heading{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 48px;
            border: 1px solid #6DC31C;
            border-radius: 12px;
            background-color: #F0F9E8;
            .title{
                width: 20%;
                max-width: fit-content;
            }
            .lineWrapper{
                width: 20%;
                height: 5px;
                background: radial-gradient(green,#00814b,white,transparent);
                background-size: 100% 100%;
            }
            .desc{
                width: 60%;
            }
        }
        .treatmentGalary{
            .treatmentGlaryWrapper{
                .glaryItem{
                    .glaryCard{
                        width: 425px;
                        min-width: 300px;
                        max-width: 425px;
                        height: 556px;
                        border: 1px dashed red;
                        position: relative;
                        
                        .glaryImage{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 556px;
                            background-color: #1E3070;
                            z-index: 3;
                            transition: .3s all linear;
                        }
                        .glaryContent{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 300px;
                            background-color: #00814b;
                            z-index: 1;
                        }
                        &:hover .glaryImage{
                            height: 300px;
                        }
                        
                    }
                    .cardTag{}
                }
            }
        }
    }
}
