.contactBar {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 12px;

    .contact_wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 32px;
        span {
            font-size: 16px;
        }
    }
}

header#header {
    width: 100%;
    position: absolute;
    top: 95px;
    left: 0;

    nav {
        width: 100%;
        max-width: 1644px;
        margin: 0 auto;

        .nav_wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navLogo {
                width: 120px;
                height: 120px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .nav_menu {
                .nav_menu_list {
                    width: fit-content;
                    background-color: white;
                    border: 2px solid var(--primary-color);
                    border-radius: 12px;
                    display: flex;
                    gap: 16px;

                    .nav_menu_list_item {
                        background-color: transparent;
                        padding: 16px 22px;
                        color: var(--primary-color);

                        a {
                            font-weight: 600;
                        }

                        border-radius: 8px;

                        &:hover {
                            background-color: var(--primary-color);
                        }

                        &:hover a {
                            color: white;
                        }
                    }

                    .nav_menu_list_item.active {
                        background-color: var(--primary-color);
                    }
                }
            }

            .nav_Buttons {
                button {
                    border: none;
                    outline: none;
                    background-color: var(--primary-color);
                    color: white;
                    padding: 20px 14px;
                    border-radius: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .contactBar {
        background-color: var(--primary-color);
        color: white;
        width: 100%;
        padding: 12px;

        .contact_wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 12px;
            div{
                display: flex;
                span {
                    font-size: 12px;
                }
            }
        }
    }

    header#header {
        width: 100%;
        position: absolute;
        top: 105px;
        left: 0;

        nav {
            width: 100%;
            max-width: 1644px;
            margin: 0 auto;
            padding: 0 10px;

            .nav_wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navLogo {
                    width: 80px;
                    height: 80px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .nav_menu {
                    display: none;

                    .nav_menu_list {
                        width: fit-content;
                        background-color: white;
                        border: 2px solid var(--primary-color);
                        border-radius: 12px;
                        display: flex;
                        gap: 16px;

                        .nav_menu_list_item {
                            background-color: transparent;
                            padding: 16px 22px;
                            color: var(--primary-color);

                            a {
                                font-weight: 600;
                            }

                            border-radius: 8px;

                            &:hover {
                                background-color: var(--primary-color);
                            }

                            &:hover a {
                                color: white;
                            }
                        }

                        .nav_menu_list_item.active {
                            background-color: var(--primary-color);
                        }
                    }
                }

                .nav_Buttons {
                    button {
                        border: none;
                        outline: none;
                        background-color: var(--primary-color);
                        color: white;
                        padding: 10px 14px;
                        border-radius: 8px;
                        font-size: 12px;
                    }
                }
            }
        }
        #nav_menu_mobile{
            position: absolute;
            top: -5px;
            left: 0;
            width: 50%;
            height: 100%;
            min-height: 100vh;
            background-color: var(--primary-color);
            .mobileMenuWrapper{
                padding: 20px 25px;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    li{
                        border-bottom: 1px solid #213ea7;
                    }
                }
            }
        }
    }
}