

.traet_heading{
    .treat_heading_wrapper {
        width: 100%;
        padding: 48px;
        background-color: #6dc31c25;
        border: 1px solid #6dc31ca8;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
    
        h2 {
            font-size: 48px;
            color: var(--primery-color);
            font-weight: 700;
            width: 100%;
            border: 1px solid red;
        }
    
        .line {
            width: 100%;
            max-width: 320px;
            border: 1px solid red;
            height: 5px;
            background: radial-gradient(#6DC31C, #6dc31c75, #6dc31c17, #6dc31c00);
            border-radius: 50%;
        }
        p{
            width: 100%;
            border: 1px solid red;
        }
    }
}