#Condition_page {
    padding-top: 152px;
    padding-bottom: 80px;

    @media (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    @media (min-width: 1200px) {
        padding-top: 160px;
        padding-bottom: 60px;
    }

}